body {
  font-size: 18px; }

html {
  font-family: 'Roboto', sans-serif; }

#notepad {
  display: block;
  width: 100%;
  height: calc(80vh - 4.5rem);
  padding: 0;
  appearance: none;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
  line-height: 1.5;
  background: transparent;
  opacity: 1 !important; }


body {
  max-width: 42rem;
  margin: 0 auto;
  padding: 3rem; }

  #addTaskBtn {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
    z-index: 10;
  }
  

#taskContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 200px;  /* or set your preferred max width */
}

#taskInput {
  width: 100%;
  box-sizing: border-box;
  /* Add more styles for your textarea here */
}

#dateContainer {
  padding-bottom: 24px; 
}

#date {
  display: inline-block;
  font-weight: bold;
  opacity: .4;
  color: #5F6368; }

.emoji {
  height: 1em !important;
  width: 1em !important;
  display: inline;
  margin-right: 10px; }

.card {
  padding: 16px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  position: relative;
  cursor: move;  /* Makes it visually obvious that the card can be moved */
  transition: background-color 0.3s;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(237,237,237,0.8);
}

.card p {
  margin-top: 8px;
}

.card small {
  font-size: 14px;
  margin-bottom: 8px;
  color: #5F6368;
}

.card:hover {
  background-color: #f5f5f5;  /* Give some hover effect */
}

.deleteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.card:hover .deleteBtn {
  opacity: 1;
}

#entry-box-container {
  display: flex;
  align-items: center;
  position: relative;
}

#entryBox {
  flex-grow: 1;
  height: 40px;
  width: 100%;
  resize: none;
  background: #EDEDED;
  border-radius: 8px;
  line-height: 40px;
  border: none;
  outline: none;
  overflow: auto;
  transition: background-color 0.3s, box-shadow 0.3s;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

#new-task-label {
  position: absolute;
  color: #5F6368;
  font-weight: bold;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

#cmd-shortcut {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6); /* slightly transparent background */
  padding: 0 5px;
  border-radius: 5px;
  font-size: 0.8em;
  pointer-events: none; /* ensure it doesn't interfere with textarea interactions */
}

#entryBox:focus {
  display: block;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(237,237,237,0.8);
}
