@import 'typography';
@import 'colours';
@import 'notepad';
@import 'themes';

body {
  max-width: 42rem;
  margin: 0 auto;
  padding: 3rem;
}

#dateContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 40px;
}

#date {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  opacity: .4;
  color: $grey;
}

.emoji {
  height: 1em !important;
  width: 1em !important;
  display: inline;
  margin-right: 10px;
}
